h4 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    font-size: 2em;
}
.total {
    font-size: 2em;
}

.mat-icon,
.description {
    color:darkgreen;
    font-size: 2em;
}

.mat-icon {
    position: relative;
    padding: 0 20px;
    top: 5px;
}